<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DRT_test</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
</head>
<body>
	<div class="html-area">
		<div class="title-area">
			<div id="title">농어촌 <span id="title-span">MaaS</span> 평가 시뮬레이션</div>
			<table border="1">
				<tr>
					<td>배차시각</td>
					<td>
						<select>
							<option value="10">10</option>
						</select>
						시
					</td>
				</tr>
				<tr>
					<td>노선명</td>
					<td>
						<select id="routeId">
							<option value="2">도시형_6번(석계한성아파트-아크)</option>
						</select>
					</td>
				</tr>
			</table>
			<button id="getSttnBtn"  class="btns" onclick="fnGetSttnBtn();">노선검색</button>
		</div>
		<div class ="button-area">
			<button id="addBtn"  class="btns" onclick="fnAddBtn();">추가</button>
			<button id="submitBtn"  class="btns" onclick="fnClickBtn();">제출</button>
		</div>
		<div class="param-area">
			<table border="1">
				<tbody>
					  <tr>
				        <td rowspan='3' id="user0">1번 탑승객</td>
				        <td>출발 정류장</td>
				        <td colspan='2' ><input type="text"  id=beg0 ></td>
				    </tr>
				    <tr>
				        <td>도착 정류장</td>
				        <td colspan='2' ><input type="text"  id=end0 ></td>
				    </tr>
				    <tr>
				        <td>예약 시간</td>
				        <td><select class="hh" id="hh0"></select> 시</td>
				        <td><select class="mm" id="mm0"></select> 분</td>
				    </tr>
				</tbody>
			</table>
		</div>
		<div class="result-area">
			<div class="result-area-title">
				<div>조회 결과</div>
				<form action="/excelDownload" method="post">
				    <input type="hidden" id="scheNo" name="scheNo">
				    <button type="submit" id="excelBtn" class="btns">결과표 다운</button>
				</form>
				<button id="resultBtn"  class="btns" onclick="fnShowResult();">결과표 보기</button>
			</div>
			<div class="result-area-sum"></div>
			<div class="user-area"></div>
		</div>
	</div>
	<div class="map-area">
		<div id="map" class="map"></div>
		<div id="popup" class="ol-popup"></div>
	</div>
	<div id="modalWrap">
	  <div id="modalContent">
	    <div id="modalBody">
	    	<div>
		      <span id="closeBtn">&times;</span>
		     </div>
	      	<table class="tg" id="resultTable">
				<thead>
				  <tr>
					<th class="tg-0pky">순서</th>
					<th class="tg-0pky">배차시간</th>
					<th class="tg-0pky">출발정류장명</th>
					<th class="tg-0pky">도착정류장명</th>
					<th class="tg-0pky">예약시간</th>
					<th class="tg-0pky">기존탑승시각</th>
					<th class="tg-0pky">경로탐색<br>탑승시각</th>
					<th class="tg-0pky">대기시간</th>
					<th class="tg-0pky">기존<br>소요시간</th>
					<th class="tg-0pky">경로탐색<br>소요시간</th>
					<th class="tg-0pky">기존<br>이동거리</th>
					<th class="tg-0pky">경로탐색<br>이동거리</th>
					<th class="tg-0pky">기존노선<br>총소요시간</th>
					<th class="tg-0pky">경로탐색<br>총소요시간</th>
					<th class="tg-0pky">기존노선<br>총이동거리</th>
					<th class="tg-0pky">경로탐색<br>총이동거리</th>
				  </tr>
				</thead>
				<tbody class="modal-tbody">
				</tbody>
			</table>
	    </div>
	  </div>
	</div>
	<div id = "mapLegend">
		<div>지도 범례</div>
		<div>
			<div>
				<input type="checkbox" id = "orderMaster_link" class="legendCheck">
				<div id = "orderMaster_link_css"></div>
				<div>기존 노선</div>
			</div>
			<div>
				<input type="checkbox" id = "order10_link" class="legendCheck">
				<div id = "order10_link_css"></div>
				<div>10시 배차 노선</div>
			</div>
			<div>
				<input type="checkbox" id = "order11_link" class="legendCheck">
				<div id = "order11_link_css"></div>
				<div>11시 배차 노선</div>
			</div>
			<div><hr></div>
			<div>
				<input type="checkbox" id = "order10_node" class="legendCheck">
				<div>10시 배차 정류장</div>
			</div>
			<div>
				<input type="checkbox" id = "order11_node" class="legendCheck">
				<div>11시 배차 정류장</div>
			</div>
		</div>
	</div>
</body>
</html>